---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Oswald', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #A9CF54;
$background-color: #939292;
$brand-color:      #2a7ae2;

// Changed to a yellow color
$grey-color:       #F7E967;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body {
  color: #A9CF54;
  font-weight: 300;
  background-color: #939292;
  padding-top: 90px;
}

p {
  color: white;
}

.navbar {
  border-radius: 0;
  border-bottom: 5px solid #FF00FF;
  background-color: #646464;
  height: 75px;
  line-height: 75px;
  padding-top: 15px;
  font-family: 'Oswald', sans-serif;
}

  .navbar-brand {
    color: #04BFBF;
    font-size: 36px;
    text-transform: lowercase;
  }

  .logo {
    padding: 0;
    height: 50px;
    float: left;
    position: relative;
    bottom: 15px;
  }

.navbar-header a .text-super {
  color: #04BFBF;
}

.navbar-header a:hover .text-super {
  color: #FFF;
}

  .navbar-right {
    margin-right: 0;
  }

    .navbar-right li {
      font-size: 24px;
      font-weight: 500;
    }

      .navbar-right li a {
        color: #A9CF54;
        background-color: #646464;
      }

      .navbar-right li a:visited {
        color: #ccc;
      }

      .navbar-default .navbar-nav>li>a {
        color: #ccc;
      }

      .nav.navbar-nav.navbar-right li a:hover {
        color: #FF00FF;
        background-color: #646464;
      }

      .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #A9CF54;
        background-color: #646464;
      }

.text-super {
  color: #04BFBF;
  font-weight: 700;
  text-transform: lowercase;
  padding-left: 20px;
  padding-right: 15px;

}

.text-sub {
  color: #CAFCD8;
  text-transform: lowercase;
  font-weight: 500;
}

a.post-link {
  color: white;
}

a:visited.post-link {
  color: white;
}

a:hover.post-link {
  color: #ccc;
  text-decoration: none;
}

.site-footer {
  a, a:visited {
    color: white;
  }

  a:hover {
    color: #ccc;
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media only screen and (max-width: 1200px) {

  .navbar-right li {
    font-size: 20px;
    padding: 5px;
  }

  .text-super {
    font-size: 32px;
  }

  .text-sub {
    font-size: 32px;
  }
}

@media only screen and (max-width: 880px) {
  .text-super {
    font-size: 26px;
  }

  .text-sub {
    font-size: 26px;
  }

  .navbar-right li {
    font-size: 18px;
  }

  .logo img {
    width: auto;
    height: auto;
  }

}

@media only screen and (max-width: 520px) {
  .text-sub {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .text-super {
    font-size: 20px;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
