<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="col-md-8">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="col-md-4">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss fa-3x"></i></a>
        <a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://twitter.com/thegreengreek" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/karamalegos" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
      </div>
    </div>

  </div>

</footer>
